
#define __GXX_EXPERIMENTAL_CXX0X__
#define _GLIBCXX_BEGIN_NAMESPACE_VERSION
#define _GLIBCXX_VISIBILITY(...)
#define _GLIBCXX_BEGIN_NAMESPACE(name) namespace name {
#define _GLIBCXX_END_NAMESPACE }
#define __cplusplus 209903L


#define BOOST_THREAD_PROVIDES_FUTURE
#define BOOST_THREAD_PROVIDES_FUTURE_CONTINUATION
#include <boost/thread/detail/config.hpp>
#ifdef BOOST_NO_EXCEPTIONS
#undef BOOST_NO_EXCEPTIONS
#endif
