// Add predefined macros for your project here. For example:
// #define THE_ANSWER 42

#define _LIBCPP_STD_VER  14
# define __cpp_lib_atomic_is_always_lock_free 201603L



#define __cplusplus 401103L

#define __has_attribute(x) 1
#define __has_builtin(x) 1
#define __has_extension(x) 1
#define __has_feature(x) 1
#define __has_cpp_attribute(x) 1
#define _LIBCPP_STD_VER 44
